{% extends 'base.html' %}

{% block content %}
<div class="uk-grid">
	<div class="uk-width-1-1">
		{% include 'includes/navbar.html' %}
	</div>
</div>
<div class="uk-grid">
	<div class="uk-width-medium-3-10 uk-container-center">
		<div class="uk-panel">
			<h3 class="uk-panel-title">Login</h3>
			<hr>
			
			<form class="uk-form uk-form-horizontal" action="#"  method="POST">
				<fieldset>
					{% if form.non_field_errors %}
					<div class="uk-form-row">
						<div class="uk-alert uk-alert-danger">
							<a href="" class="uk-alert-close uk-close"></a>
							<p>{{ form.non_field_errors|striptags }}</p>
						</div>
					</div>
					{% endif %}

					{% csrf_token %}
					<div class="uk-form-row">
						<label class="uk-form-label" for="username">Username</label>
						<input class="uk-width-medium-1-1 uk-form-control" name="username" 
							type="email" placeholder="Your@email.address">
						<div class="uk-text-danger">{{ form.errors.username|striptags }}</div>
					</div>
					<div class="uk-form-row">
						<label class="uk-form-label" for="password">Password</label>
						<input class="uk-width-medium-1-1 uk-form-control" name="password" 
							type="password" placeholder="Your Password">
						<div class="uk-text-danger">{{ form.errors.password|striptags }}</div>
					</div>
					<div class="uk-form-row">
						<button class="uk-button uk-button-success">Login</button>
					</div>					
				</fieldset>
			</form>
		</div>
	</div>
</div>
{% endblock %}