{% load mytag %}

<nav class="uk-navbar uk-navbar-attached tm-navbar">    
	<a href="" class="uk-navbar-brand">
		<i class="uk-icon-share-alt-square"></i> {% settings_val "WEBSITE_TITLE" %}
		<span class="uk-h6 uk-hidden-small">{% settings_val "WEBSITE_SOLOGAN" %}</span>
	</a>
	<div class="uk-navbar-flip">
        <ul class="uk-navbar-nav">
        	{% if not user.is_authenticated %}
        	<li><a href="{% url 'signon' %}"><i class="uk-icon-user-plus"></i> Signon</a></li>
        	{% endif %}
            <li class="uk-parent" data-uk-dropdown="{mode:'click'}">
            	{% if not user.is_authenticated %}
	            <a href="{% url 'login' %}"><i class="uk-icon-sign-in"></i> Sigin</a>
	            {% else %}
	            <a href><i class="uk-icon-user"></i> {{ user.username }}</a>
	            {% endif %}
	            {% if user.is_authenticated %}
	            <div class="uk-dropdown uk-dropdown-navbar">
	            	<ul class="uk-nav uk-nav-navbar">
	            		<li><a href="{% url 'console' %}"><i class="uk-icon-desktop"></i>&nbsp; Console</a></li>
	            		<li><a href="{% url 'logout' %}"><i class="uk-icon-sign-out"></i>&nbsp; Signout</a></li>
	            	</ul>
	            </div>
	            {% endif %}
            </li>
        </ul>
    </div>
</nav>